#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Paper);
}

#container2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em 2em;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 600;
}

#submit-button {
    background-color: var(--Gray);
    color: #fff;
    transition: background-color 250ms;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

#submit-button:hover {
    background-color: var(--Hover);
}

#submit-button:active {
    background-color: var(--Active);
}

input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}